@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: top;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
}
nav ul li{
    display: inline;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0px auto;
}
nav{
    background-color: rgb(182, 27, 27);
    height: 40px;
    padding: 10px;
    position: sticky;
    top: 0px;
}
header, section{
    max-width: 800px;
    margin: 50px 100px auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
h1, h2, p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    line-height: 1.5;
}
p{
    font-size: 20px;
}
section article:nth-of-type(1){
    background-image: url(./bbq.jpg);
}
section article:nth-of-type(2){
    background-image: url(./pizza.jpg);
    background-position: bottom;
}
section article:nth-of-type(3){
    background-image: url(./plov.jpg);
}
section article{
    height: 200px;
    background-position: center;
    background-size: cover;
}
section article h2{
    position: relative;
    top: 150px;
}
footer small{
    max-width: 800px;
    margin: 30px 100px auto;
}
footer{
    background-color: rgb(182, 27, 27);
    height: 20px;
    color: #fff;
    font-family: 'Montserrat';
    margin-top: 50px;
}